body, html {
    height: 100%;
}




.wpage {
    display: flex;
    flex-direction: column;
    background-image: url(../img/formbg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.wheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-inline: 79px;    
}

.wheaderbrand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 500ms;
    outline: none;
}

.wheadermenu {
    display: flex;
    column-gap: 26px;
    justify-content: space-between;
    align-items: center;
}

.wheadermenuicon {
    outline: none;
}

.wheadermenuicon path {
    transition: fill 500ms;
}

.wheadermenuicon:hover path,
.wheadermenuicon:focus path 
{
    fill: #236C47;
}

.wheadermenuauth,
.wheadermenuauthlink {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #FFFFFF;    
    transition: color 500ms;
    outline: none;
}

.wheaderbrand:hover,
.wheadermenuauthlink:hover,
.wheaderbrand:focus,
.wheadermenuauthlink:focus {
    color: #236C47;
}

.wheadermenusplitter {
    width: 1px;
    height: 1em;
    background-color: #818181;
}




.wmain {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 100%;
}

.wdlg {
    /* display: flex;
    flex-direction: column; */
    box-sizing: border-box;
    width: 450px;
    padding-inline: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);  
    position: relative;  
}

.wdlgsquaremark {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 0;
    background: #3CB878;
}




.wdlgtoppanel {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.wdlgcaption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #434343;       
}

.wdlgaltlink {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #3CB878;    
    text-decoration: none;
    transition: color 500ms;
    outline: none;
}

.wdlgaltlink:hover,
.wdlgaltlink:focus {
    color: #01813F;
    text-decoration: underline;
}




.wdlgsocialpanel {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.wdlgsocialbtn {
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 500ms;
    outline: none;
}

.wdlgsocialbtnfb {
    background-color: #305DB8;
}

.wdlgsocialbtnfb:hover,
.wdlgsocialbtnfb:focus {
    background-color: #022263;
}

.wdlgsocialbtngplus {
    background-color: #DF4A32;
}

.wdlgsocialbtngplus:hover ,
.wdlgsocialbtngplus:focus {
    background-color: #AB1F09;
}

.wdlgsocialimg {
    height: 24px;
    flex: 0 0 50px;
}

.wdlgsocialimg path {
    fill: #FFFFFF;
}

.wdlgsocialsplitter {
    width: 1px;
    height: 28px;
    background-color: #303030;
    opacity: 0.1;
    flex: 0 0 1px;
}

.wdlgsocialcaption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    flex: 1;
    text-align: center;
}




.wdlgsplitter {
    display: flex;
    margin-top: 31px;
    align-items: center;
}

.wdlgsplitterline {
    height: 1px;
    background-color: #F2F2F2;
    flex: 1;
}

.wdlgsplittercaption {
    margin-inline: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #848484;
    /* text-align: center; */
    flex: 0;
}




.wform {
    display: flex;
    flex-direction: column;
}

.wdlgfield {
    margin-top: 15px;
    padding: 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #434343;
	outline: none;
    transition: box-shadow 500ms;
}

.wdlgfield::placeholder {
    color: #BEBEBE;
}

.wdlgfield:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}




.wdlgtc {
    display: flex;
    margin-top: 12px;
    align-items: center;
}

.wdlgtccheckboxorig {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.wdlgtccheckboxfake {
    border: 1px solid #F2F2F2;
    padding: 3px;
    transition: box-shadow 500ms;
}

.wdlgtccheckboxfake path {
    transition: stroke 500ms;
}

.wdlgtccheckboxorig:checked+.wdlgtccheckboxfake path {
    stroke: #3CB878;
}

/* .wdlgtc:hover .wdlgtccheckboxfake path{
    stroke: #01813F;
} */

.wdlgtc:hover .wdlgtccheckboxfake,
.wdlgtccheckboxorig:focus+.wdlgtccheckboxfake {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.wdlgtcprompt {
    margin-left: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #434343;
}

.wdlgtclink {
    color: #3CB878;
    text-decoration: none;
    outline: none;
    transition: color 500ms;
}

.wdlgtclink:hover,
.wdlgtclink:focus {
    color: #01813F;
    text-decoration: underline;
}




.wdlgcreatebutton {
    margin-top: 20px;
    margin-bottom: 38px;
    padding: 16px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 500ms;
}

.wdlgcreatebutton:hover,
.wdlgcreatebutton:focus {
    background-color: #01813F;
}
